.DS_Store
code-examples/build
*.agdai
*.idr~
*.agda~
\.\#*
\#*
MAlonzo
*.pdf
*.log
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
solution-file*.tex